/*
* COLOR 
*/

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-accent {
  color: var(--color-accent);
}

.color-text {
  color: var(--color-text);
}

.color-white {
  color: var(--color-white);
}

.color-black {
  color: var(--color-black);
}

.color-gray {
  color: var(--color-gray);
}

.color-dark-gray {
  color: var(--color-dark-gray);
}
