/* 
* TEXT 
*/

@import "./breakpoints.css";

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

/* Breakpoints */

@media (--tablet-and-up) {
}

@media (--laptop-and-up) {
}

@media (--desktop-and-up) {
}
