---
// Compositions
import Center from "../compositions/Center.astro";

// Components
import MyPicture from "../ui/MyPicture.astro";
import Grid from "../ui/Grid.astro";

// Data
import { ABOUT_DATA } from "@/data/siteData";

// Assets
import profileImg from "@/assets/profile/profile.jpg";
import DynamicBgSection from "../DynamicBgSection.astro";
---

<section class="hero">
  <DynamicBgSection bgColor="primary">
    <Center maxWidth="83.5rem" space="space-7">
      <Grid class="hero-grid">
        <div class="about-wrapper">
          <h1 class="about-text">{ABOUT_DATA.text}</h1>
        </div>

        <div class="profile-img-wrapper">
          <MyPicture src={profileImg} alt="" class="profile-img" />
        </div>
      </Grid>
    </Center>
  </DynamicBgSection>
</section>

<style>
  @import "@styles/04-utilities/breakpoints.css";

  .hero {
    --_vertical-spacing: var(--space-15-fixed);
    padding-block: var(--_vertical-spacing);
    text-align: center;

    /** TEMP */
    /* background-color: var(--color-primary); */

    @media (--tablet-and-up) {
      --_vertical-spacing: var(--space-12-fixed);
    }
  }

  :global(.hero-grid) {
    align-items: center;
    height: 100%;
  }

  .about-wrapper {
    grid-column: full-start / full-end;
    z-index: 2;

    @media (--tablet-and-up) {
      grid-row: 1 / 2;
    }
  }

  .about-text {
    font-family: var(--font-serif);
    font-weight: var(--font-regular);

    /* Custom Size */
    /* 320 - 36px, 1400 - 64px  */
    font-size: 2.5rem;
    font-size: clamp(2.25rem, 2.593vw + 1.731rem, 4rem);

    line-height: 1.2;
    /* 320 - 1.2, 1400 - 1.1  */
    line-height: clamp(2.7rem, 2.519vw + 2.196rem, 4.4rem);

    hyphens: auto;
    -webkit-hyphens: auto;

    white-space: pre-wrap;
  }

  .profile-img-wrapper {
    grid-column: col-start / col-end;
    /* grid-column: 2 / span 10; */
    z-index: 1;

    transform: translateY(-12%);

    @media (--tablet-s-and-up) {
      grid-column: col-start / col-end;
    }

    @media (--tablet-and-up) {
      grid-row: 1 / 2;
      grid-column: 3 / span 8;

      transform: translateY(0);
    }

    @media (--laptop-and-up) {
      grid-column: 4 / span 6;
    }
  }

  .profile-img-wrapper :global(img),
  .profile-img-wrapper :global(picture) {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 5;
    object-fit: cover;
  }
</style>
