---
type colorOptions =
  | "primary"
  | "secondary"
  | "tertiary"
  | "white"
  | "gray-light"
  | "gray-light-02";

interface Props {
  bgColor: colorOptions;
  class?: string;
  [key: string]: any;
}
const { bgColor, class: classList, ...rest } = Astro.props;
---

<div
  class:list={["dynamic-bg-section", classList]}
  data-color={bgColor}
  {...rest}
>
  <slot />
</div>

<style></style>
