---
import Cluster from "./compositions/Cluster.astro";
import Button from "./ui/Button.astro";
import Heading from "./ui/Heading.astro";
import Link from "./ui/Link.astro";
---

<div class="get-in-touch">
  <div class="wrapper">
    <h2 class="text">Got Questions?</h2>
    <Link href="/contacts" class="link-more underline thickness-2">Say Hi.</Link
    >
  </div>
</div>

<style>
  @import "@styles/04-utilities/breakpoints.css";

  .get-in-touch {
    display: flex;
    justify-content: center;
    text-align: center;

    padding-block-start: var(--space-12-fixed);

    @media (--tablet-and-up) {
      padding-block-start: 0;
    }
  }

  .wrapper {
    @media (--tablet-s-and-up) {
      display: flex;
      gap: var(--space-4-fixed);
    }
  }

  .wrapper :global(.text),
  .wrapper :global(.link-more) {
    /* 28 - 64, 320 - 1380 */
    font-size: clamp(1.75rem, 3.396vw + 1.071rem, 4rem);
    line-height: 1.1;
  }

  .wrapper :global(.text) {
    font-weight: var(--font-regular);
  }
</style>
