---
// Tools

// Layout
import BaseLayout from "@/layouts/BaseLayout.astro";

// Compositions

// Components

// Data
import { BASE_DATA } from "@/data/siteData";
---

<BaseLayout seo={{ title: `Проєкти | ${BASE_DATA.title}` }}>
  <h1>Projects</h1>
</BaseLayout>
