---
// Styles
import "@styles/main.css";

// Components
import Head from "@/components/Head.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import MobileMenuDialog from "@/components/ui/MobileMenuDialog.astro";
import MobileMenu from "@/components/MobileMenu.astro";
import DynamicBg from "@/components/DynamicBg.astro";

const isContactsPage = Astro.originPathname === "/contacts";
---

<html lang="en">
  <Head {...Astro.props} />

  <body>
    <div id="root">
      <DynamicBg />
      <Header />

      <slot />

      {isContactsPage ? "" : <Footer />}
    </div>

    <MobileMenuDialog name="mobile-menu">
      <MobileMenu />
    </MobileMenuDialog>

    <script src="../scripts/global.js"></script>
  </body>
</html>
