@import "../04-utilities/breakpoints.css";

:root {
  --header-height: 6.25rem;
  --gutter: var(--space-7-fixed);
  --dynamic-bg-color: transparent;
}

html {
  scroll-behavior: smooth;
}

/*
* TEMP
*/
body {
}
